@page
@model MascotaFeliz.App.Frontend.Pages.DetallesVeterinariosModel
@{
}
<<<<<<< Updated upstream
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="~/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<h1 style="text-shadow: 4px 4px 2px rgba(50, 168, 82,0.45);">Detalles del Veterinario</h1>
<table class="blueTable">
<tr><td width="200" nowrap>Identificación</td><td width="200" nowrap>@Model.veterinario.Id</td></tr>
<tr><td width="200" nowrap>Nombre</td><td width="200" nowrap>@Model.veterinario.Nombres</td></tr>
<tr><td width="200" nowrap>Apellido</td><td width="200" nowrap>@Model.veterinario.Apellidos</td></tr>
<tr><td width="200" nowrap>Direccion</td><td width="200" nowrap>@Model.veterinario.Direccion</td></tr>
<tr><td width="200" nowrap>Telefono</td><td width="200" nowrap>@Model.veterinario.Telefono</td></tr>
<tr><td width="200" nowrap>Tarjeta Profesional</td><td width="200" nowrap>@Model.veterinario.TarjetaProfesional</td></tr>
</table>
<p></p>
<a asp-page="./Listaveterinarios" class="btn btn-info active"><i class="fas fa-user"></i> Lista de Veterinarios </a>
</body>
</html>
=======
<h1>Detalles del Veterinario</h1>

<div>
    Id: @Model.veterinario.Id
</div>
<div>
    Cedula: @Model.veterinario.Cedula
</div>
<div>
    Nombre: @Model.veterinario.Nombres
</div>
<div>
    Apellido: @Model.veterinario.Apellidos
</div>
<div>
    Direccion: @Model.veterinario.Direccion
</div>
<div>
    Telefono: @Model.veterinario.Telefono
</div>
<div>
    Correo: @Model.veterinario.TarjetaProfesional
</div>
<a asp-page="./Listaveterinarios" class="btn-default">Lista de Veterinarios </a>
>>>>>>> Stashed changes
